:root {
  --bg-primary: #fdfafe;
  --color-primary: #040608;
  --cp-red: #ed1d24;
  --cp-red-dark: #68080b;
  --cp-white: #fdfafe;
  --cp-dark: #040608;
  --cp-yellow: #fed83a;
  --trans-light-1: rgba(255, 255, 255, 0.1);
  --trans-light-2: rgba(255, 255, 255, 0.2);
  --trans-light-3: rgba(255, 255, 255, 0.3);
  --trans-light-4: rgba(255, 255, 255, 0.4);
  --trans-light-5: rgba(255, 255, 255, 0.5);
  --trans-light-6: rgba(255, 255, 255, 0.6);
  --trans-light-7: rgba(255, 255, 255, 0.7);
  --trans-light-8: rgba(255, 255, 255, 0.8);
  --trans-light-9: rgba(255, 255, 255, 0.9);
  --trans-dark-dark-1: rgba(0, 0, 0, 0.1);
  --trans-dark-dark-2: rgba(0, 0, 0, 0.2);
  --trans-dark-dark-3: rgba(0, 0, 0, 0.3);
  --trans-dark-dark-4: rgba(0, 0, 0, 0.4);
  --trans-dark-dark-5: rgba(0, 0, 0, 0.5);
  --trans-dark-dark-6: rgba(0, 0, 0, 0.6);
  --trans-dark-dark-7: rgba(0, 0, 0, 0.7);
  --trans-dark-dark-8: rgba(0, 0, 0, 0.8);
  --trans-dark-dark-9: rgba(0, 0, 0, 0.9);
  --clamp-1: clamp(0.94rem, 0.11vw + 0.91rem, 1rem);
  --clamp-2: clamp(1.17rem, 0.29vw + 1.1rem, 1.33rem);
  --clamp-3: clamp(1.46rem, 0.57vw + 1.32rem, 1.78rem);
  --clamp-4: clamp(1.83rem, 0.98vw + 1.59rem, 2.37rem);
  --clamp-5: clamp(2.29rem, 1.58vw + 1.89rem, 3.16rem);
  --clamp-6: clamp(2.86rem, 2.45vw + 2.25rem, 4.21rem);
  --clamp-7: clamp(3.58rem, 3.7vw + 2.65rem, 5.61rem);
  --clamp-8: clamp(4.47rem, 5.47vw + 3.1rem, 7.48rem);
  --clamp-9: clamp(5.59rem, 7.97vw + 3.6rem, 9.97rem);
  --clamp-10: clamp(6.98rem, 11.46vw + 4.12rem, 13.29rem);
  --clamp-11: clamp(8.73rem, 16.33vw + 4.65rem, 17.71rem);
  --clamp-12: clamp(10.91rem, 23.09vw + 5.14rem, 23.61rem);
  --clamp-13: clamp(13.64rem, 32.42vw + 5.54rem, 31.47rem);
  --clamp-14: clamp(17.05rem, 45.28vw + 5.73rem, 41.96rem);
  --clamp-15: clamp(21.32rem, 62.93vw + 5.58rem, 55.93rem);
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}